
__pycache__/
*.py[cod]
*$py.class

venv/
.venv/
env/

.vscode/
.idea/

.DS_Store
Thumbs.db

*.log

.env

build/
dist/
*.egg-info/

.ipynb_checkpoints/

data/extracted_dataset/
data/new-audio.zip

data/live_cough.wav

*.tmp
*.temp